@model List<ResultTestimonialDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
    int count = 0;
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Referans İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Referans Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Referans İle İlgili İşlemleri Aşağıdan Gerçekleştirebilirsiniz.
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Ad Soyad</th>
                                    <th scope="col">Başlık</th>
                                    <th scope="col">Yorum</th>
                                    <th scope="col">Durum</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.Name</td>
                                        <td>@item.Title</td>
                                        <td>@item.Comment</td>
                                        <td>@item.Status</td>
                                        <td><a class="btn btn-outline-danger" href="/Testimonial/DeleteTestimonial/@item.TestimonialID">Sil</a></td>
                                        <td><a class="btn btn-outline-success" href="/Testimonial/UpdateTestimonial/@item.TestimonialID">Güncelle</a></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                        <a href="/Testimonial/CreateTestimonial" class="btn btn-outline-primary">Yeni Öne Çıkan Ürün Ekle</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


