@model List<ResultProductDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";

}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ürün İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Ürün Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Ürün İle İlgili İşlemleri Aşağıdan Gerçekleştirebilirsiniz.
                        </div>
                        <br />
                        <a href="/Product/CreateProduct" class="btn btn-outline-primary">Yeni Ürün Girişi</a>
                        <br />
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">Ürün Adı</th>
                                    <th scope="col">Ürün Görseli</th>
                                    <th scope="col">Fiyat</th>
                                    <th scope="col">Kategori</th>
                                    <th scope="col">Durum</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ProductName</td>
                                        <td><img  src="@item.ImageUrl" style="width:100px; height:100px"/></td>
                                        <td>@item.Price</td>
                                        <td>@item.CategoryName</td>
                                        <td>@(item.ProductStatus == true ? "Stokta var" : "Tükendi!")</td>
                                        <td><a class="btn btn-outline-danger" href="/Product/DeleteProduct/@item.ProductID">Sil</a></td>
                                        <td><a class="btn btn-outline-success" href="/Product/UpdateProduct/@item.ProductID">Güncelle</a></td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


